//COLORS

$color-primary: hsl(300, 43%, 22%);
$color-primary-light: hsl(333, 80%, 67%);
$color-magneta-dark: hsl(303, 10%, 53%);
$color-magneta-light: hsl(300, 24%, 96%);

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-family: 'League Spartan', sans-serif;
$default-font-size: 1.5rem;

//GRID
